<ion-content [fullscreen]="true">
  <!-- <perfect-scrollbar style="height: 100%;width:100%;"> -->
  <form name="form" #f="ngForm" class="formGroup">
    <perfect-scrollbar style="height: 100%;width:100%;">
      <!-- <div class="heading ion-text-center" style="width:100%;">
        <h3 style="color: #555 !important;" class="ion-text-center">
          <a style="cursor: pointer;" (click)="back()">
            <em class="h5">
              Dashboard
            </em>
          </a><em class="h5">&nbsp;/ My Address</em>
        </h3>
      </div> -->
      <ion-grid>
        <ion-row style="width: 100%;" size="12">
          <ion-col size-md="10" size-xs="12" size-lg="10" offset-lg="1" offset-md="1" offset-xs="0">
            <ion-row style="width: 100%;" size="12">
              <ion-col size-md="3" size-xs="12" size-lg="3">

                <ion-row size="12" style="font-family: 'Poppins', sans-serif;color:#5D6167">
                  <ion-col style="padding-left:10px;padding-right:50px;">
                    <ion-row size="12" class="ion-align-self-center" style="margin-top:10px;font-size:16px;">
                      <ion-col size="12">
                        <ion-row style="margin-bottom:10px">
                          <div class="block block-collapsible-nav account-nav">
                            <div class="block-title block-collapsible-nav account-nav-title">
                              <h3>My Account</h3>
                            </div>
                            <div class="content block-collapsible-nav account-nav-content"
                              id="block-collapsible-nav account-nav">
                              <ul  style="padding-inline-start: 15px;" >
                                <div  *ngFor="let menu of obsMenu;  let s=index">
                                  <li class="nav item"><a href="{{menu.url}}"  [ngStyle]="{'font-weight':menu.bold ? 'bold' : 'normal' }" >{{menu.title}}</a></li>
                                </div>
                              </ul>
                            </div>
                          </div>
                        </ion-row>
                      </ion-col>


                    </ion-row>



                  </ion-col>
                </ion-row>




              </ion-col>

              <ion-col size-md="9" size-xs="12" size-lg="9">
                <ion-row size="12">
                  <ion-col style="padding-left:10px;">
                    <ion-row size="12" class="ion-align-self-center ion-text-center"
                      style="border-bottom: 1px solid rgba(0,0,0,.1);background-color:#fbfbfb;height:47px;font-size:18px;color:#5D6167">

                      <ion-col class="ion-align-self-center ion-text-left" size-lg="4" size-md="4">
                        My Address
                      </ion-col>

                    </ion-row>

                  </ion-col>
                </ion-row>
                <ion-row size="12" style="font-family: 'Poppins', sans-serif;color:#5D6167">
                  <ion-col style="padding-left:10px;padding-right:50px;">
                    <ion-row size="12" class="ion-align-self-center" style="margin-top:10px;font-size:16px;">
                      <ion-col size="12">
                        <ion-row style="margin-bottom:10px">
                          <ion-col class="stackfont ion-text-left stacklabel" size-lg="12">
                            <ion-label>The following addresses will be used on the checkout page by default.</ion-label>
                          </ion-col>
                        </ion-row>
                      </ion-col>


                    </ion-row>
                

                  </ion-col>
                </ion-row>
                <ion-row size="12" style="font-family: 'Poppins', sans-serif;color:#5D6167">
                  <ion-grid>
                    <ion-row style="width: 100%;" size="12">
                      <ion-col class="ion-align-self-center">
                        <ion-row style="width: 100%;" size="12" >
                          <ion-col size-md="6" size-xs="12" size-lg="6" style="border: 1px solid rgba(0,0,0,.1);font-family: 'Poppins', sans-serif;">
                            <ion-row size="12" style="border-bottom: 1px solid rgba(0,0,0,.1);">
                              <ion-col >
                                <ion-row size="12" class="ion-align-self-center ion-text-center"
                                  style="background-color:#fbfbfb;height:47px;font-size:16px;color:#5D6167">
            
                                  <ion-col style="margin-left:20px" class="ion-align-self-center ion-text-left" size-lg="12"
                                    size-md="12">
                                    Billing address
                                    <ion-button style=" width:100px;height:29px;float: right;font-size:13px;margin-right:10px"
                                    color="vibrant" expand="block" (click)="billaddress()">
                                    <!-- <fa-icon icon="cart-plus" style="font-size: 13px; margin-right:5px"></fa-icon> -->
              
                                    Edit
                                  </ion-button>
                                  </ion-col>
                                </ion-row>
            
                              </ion-col>
                            </ion-row>
                            <ion-row size="12" >
                              <ion-col>
            
                                <ion-row size="12" class="ion-align-self-center" style="margin-top:10px;font-size:14px;">
                                  <ion-col offset="1" size="10">
                                    <ion-label style="font-size:13px;line-height: 25px;font-weight: 400;color: #6a6a6a;">
                                      {{ this.obsUserSession.Billing_Street_Address1 }} <br />
                                      {{ this.obsUserSession.Billing_Street_Address2 }} <br/>
                                      {{ this.obsUserSession.Billing_Country }}
                                    </ion-label>
                                    <br />
                                    <ion-label style="font-size:13px;line-height: 25px;font-weight: 400;color: #6a6a6a;">
                                      {{ this.obsUserSession.Billing_Postcode }}
                                    </ion-label>
                                    <br />
                                    <ion-label style="font-size:13px;line-height: 25px;font-weight: 400;color: #6a6a6a;">
                                      <fa-icon icon="user" style="font-size: 13px; margin-right:5px"></fa-icon>
                                      {{ this.obsUserSession.Billing_First_Name }} {{ ' ' }} {{ this.obsUserSession.Billing_Last_Name }}
                                    </ion-label>
                                    <br />
                                    <ion-label style="font-size:13px;line-height: 25px;font-weight: 400;color: #6a6a6a;">
                                      <fa-icon icon="phone-alt" style="font-size: 13px; margin-right:5px"></fa-icon>
                                      {{ this.obsUserSession.Billing_Phone }}
                                    </ion-label>
                                    <br />
                                    <ion-label
                                      style="padding-bottom:40px !important;font-size:13px;line-height: 25px;font-weight: 400;color: #6a6a6a;">
                                      <fa-icon icon="envelope" style="font-size: 13px; margin-right:5px"></fa-icon>
                                      {{ this.obsUserSession.Billing_Email }}
                                    </ion-label>
                                  </ion-col>
            
            
                                </ion-row>
            
            
            
            
            
            
                              </ion-col>
                            </ion-row>
                          </ion-col>
            
                          <ion-col size-md="6" size-xs="12" size-lg="6" style="border: 1px solid rgba(0,0,0,.1);font-family: 'Poppins', sans-serif;">
                            <ion-row size="12" style="border-bottom: 1px solid rgba(0,0,0,.1)">
                              <ion-col>
                                <ion-row size="12" class="ion-align-self-center ion-text-center"
                                  style="background-color:#fbfbfb;height:47px;font-size:16px;color:#5D6167">
            
                                  <ion-col style="margin-left:20px" class="ion-align-self-center ion-text-left" size-lg="12"
                                    size-md="12">
                                    Shipping Address
                                    <ion-button style=" width:100px;height:29px;float: right;font-size:13px;margin-right:10px"
                                    color="vibrant" expand="block" (click)="shipaddress()">
                                    <!-- <fa-icon icon="cart-plus" style="font-size: 13px; margin-right:5px"></fa-icon> -->
              
                                    Edit
                                  </ion-button>
                                  </ion-col>
                                </ion-row>
            
                              </ion-col>
                            </ion-row>
                            <ion-row size="12" >
                              <ion-col>
            
                                <ion-row size="12" class="ion-align-self-center" style="margin-top:10px;font-size:14px;">
                                  <ion-col offset="1" size="10">
                                    <ion-label style="font-size:13px;line-height: 25px;font-weight: 400;color: #6a6a6a;">
                                      {{ this.obsUserSession.Shipping_Street_Address1 }} <br />
                                      {{ this.obsUserSession.Shipping_Street_Address2 }} <br/>
                                      {{ this.obsUserSession.Shipping_Country }}
                                    </ion-label>
                                    <br />
                                    <ion-label style="font-size:13px;line-height: 25px;font-weight: 400;color: #6a6a6a;">
                                      {{ this.obsUserSession.Shipping_Postcode }}
                                    </ion-label>
                                    <br />
                                    <ion-label style="font-size:13px;line-height: 25px;font-weight: 400;color: #6a6a6a;">
                                      <fa-icon icon="user" style="font-size: 13px; margin-right:5px"></fa-icon>
                                      {{ this.obsUserSession.Shipping_First_Name }} {{ ' ' }} {{ this.obsUserSession.Shipping_Last_Name }}
                                    </ion-label>
                                    <br />
                                    <ion-label style="font-size:13px;line-height: 25px;font-weight: 400;color: #6a6a6a;">
                                      <fa-icon icon="phone-alt" style="font-size: 13px; margin-right:5px"></fa-icon>
                                      {{ this.obsUserSession.Shipping_Phone }}
                                    </ion-label>
                                    <br />
                                    <ion-label
                                      style="padding-bottom:40px !important;font-size:13px;line-height: 25px;font-weight: 400;color: #6a6a6a;">
                                      <fa-icon icon="envelope" style="font-size: 13px; margin-right:5px"></fa-icon>
                                      {{ this.obsUserSession.Shipping_Email }}
                                    </ion-label>
                                  </ion-col>
            
            
                                </ion-row>
            
            
            
            
            
            
                              </ion-col>
                            </ion-row>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
            
            
                  </ion-grid>
                </ion-row>

              </ion-col>

            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </perfect-scrollbar>
  </form>
  <!-- </perfect-scrollbar> -->
</ion-content>