
<ion-content [fullscreen]="true">
  <!-- <perfect-scrollbar style="height: 100%;width:100%;"> -->
    <form name="form" #f="ngForm" class="formGroup">
      <perfect-scrollbar style="height: 100%;width:100%;">
      <div class="heading ion-text-center" style="width:100%;">
        <h3 style="color: #555 !important;" class="ion-text-center">
          <a href="#" title="Go to Home Page" ng-click="ToLocation('/')">
            <em class="h5">
              Home
            </em>
          </a><em class="h5">&nbsp;/ Login</em>
        </h3>
      </div>
      <ion-grid>
        <ion-row style="width: 100%;" size="12">
          <ion-col size-md="10" size-xs="12" size-lg="10" offset-lg="1" offset-md="1" offset-xs="0">
            <ion-row style="width: 100%;" size="12" >
              <ion-col size-md="6" size-xs="12" size-lg="6">
                <ion-row size="12">
                  <ion-col style="padding-left:10px;padding-right:50px;">
                    <ion-row size="12" class="ion-align-self-center ion-text-center"
                      style="border-bottom: 1px solid rgba(0,0,0,.1);background-color:#fbfbfb;height:47px;font-size:18px;color:#5D6167">

                      <ion-col class="ion-align-self-center ion-text-left" size-lg="4" size-md="4">
                        Login
                      </ion-col>

                    </ion-row>

                  </ion-col>
                </ion-row>
                <ion-row size="12" style="font-family: 'Poppins', sans-serif;color:#5D6167">
                  <ion-col style="padding-left:10px;padding-right:50px;">
                    <ion-row size="12" class="ion-align-self-center" style="margin-top:10px;font-size:16px;">
                      <ion-col size="12">
                        <ion-row >
                          <ion-col class="stackfont ion-text-left stacklabel" size-lg="6" size-xs="12">
                            <ion-label>Email</ion-label>
                            <ion-col class="stackfont" size="12" size-lg="12">
                              <ion-item lines="none">
                                <ion-input name="User_Email" [(ngModel)]="obs.User_Email" #useremail="ngModel" required
                                  placeholder="Enter Your Email"></ion-input>
                              </ion-item>
                              <div>
                                <ion-label *ngIf="useremail.invalid && useremail.dirty" class="state-error">{{
                                  error_messages.User_Email.required }}
                                </ion-label>
                              </div>
                            </ion-col>
                          </ion-col>
                          <ion-col class="stackfont ion-text-left stacklabel" size-lg="6" size-xs="12">
                            <ion-label>Password</ion-label>
                            <ion-col class="stackfont" size="12"  size-md="12" size-xs="12">
                              <ion-item lines="none">
                                <ion-input type="password" name="Password" [(ngModel)]="obs.Password"
                                  #password="ngModel" required placeholder="Enter Your Password">
                                </ion-input>
                              </ion-item>
                              <div>
                                <ion-label *ngIf="password.invalid && password.dirty" class="state-error">{{
                                  error_messages.Password.required }}
                                </ion-label>
                              </div>
                              
                            </ion-col>
                           
                          </ion-col>
                          <div>
                            <a  [routerLink]="[]" (click)="forgotpassword()" style="font-size:14px!important;color:#0645AD;">Forgot Password?</a>
                          </div>
                          <!-- <ion-col class="stackfont" size="12">
                            <a  [routerLink]="[]" (click)="forgotpassword()">Forgot Password?</a>
                          </ion-col> -->
                

                          <ion-col class="stackfont ion-text-left stacklabel no-padding" size-lg="12"  size-md="12" size-xs="12">
                            <ion-button  style=" width:144px;height:29px;float: right;font-size:13px;margin-right:10px" color="vibrant" expand="block" (click)="onSubmit()">
                              <!-- <fa-icon icon="cart-plus" style="font-size: 13px; margin-right:5px"></fa-icon> -->
                            
                             Login
                            </ion-button>
                          </ion-col>
                        </ion-row>
                      </ion-col>


                    </ion-row>
              
                

                  </ion-col>
                </ion-row>




              </ion-col>

              <ion-col size-md="6" size-xs="12" size-lg="6">
                <ion-row size="12">
                  <ion-col style="padding-left:10px;padding-right:50px;">
                    <ion-row size="12" class="ion-align-self-center ion-text-center"
                      style="border-bottom: 1px solid rgba(0,0,0,.1);background-color:#fbfbfb;height:47px;font-size:18px;color:#5D6167">

                      <ion-col class="ion-align-self-center ion-text-left" size-lg="4" size-md="4">
                        New Members
                      </ion-col>

                    </ion-row>

                  </ion-col>
                </ion-row>
                <ion-row size="12" style="font-family: 'Poppins', sans-serif;color:#5D6167">
                  <ion-col style="padding-left:10px;padding-right:50px;">
                    <ion-row size="12" class="ion-align-self-center" style="margin-top:10px;font-size:16px;">
                      <ion-col size="12">
                        <ion-row style="margin-bottom:10px">
                          <ion-col class="stackfont ion-text-left stacklabel" size-lg="12">
                            <ion-label>Creating an account has many benefits: check out faster, keep more than one
                              address, track orders and more.</ion-label>
                          </ion-col>
                        </ion-row>
                      </ion-col>


                    </ion-row>
                    <ion-button  style=" width:144px;height:29px;float: right;font-size:13px;margin-right:10px" color="vibrant" expand="block" (click)="signup()">
                      <!-- <fa-icon icon="cart-plus" style="font-size: 13px; margin-right:5px"></fa-icon> -->
                    
                     Sign Up
                    </ion-button>

                  </ion-col>
                </ion-row>




              </ion-col>

            </ion-row>
          </ion-col>





        </ion-row>


      </ion-grid>
    </perfect-scrollbar> 
    </form>
  <!-- </perfect-scrollbar> -->
</ion-content>