
<ion-content [fullscreen]="true">
  <!-- <perfect-scrollbar style="height: 100%;width:100%;"> -->
    <form name="form" #f="ngForm" class="formGroup">
      <perfect-scrollbar style="height: 100%;width:100%;">
      <!-- <div class="heading ion-text-center" style="width:100%;">
        <h3 style="color: #555 !important;" class="ion-text-center">
          <a style="cursor: pointer;" (click)="back()">
            <em class="h5">
              Home
            </em>
          </a><em class="h5">&nbsp;/ Dashboard</em>
        </h3>
      </div> -->
      <ion-grid>
        <ion-row style="width: 100%;" size="12">
          <ion-col size-md="10" size-xs="12" size-lg="10" offset-lg="1" offset-md="1" offset-xs="0">
            <ion-row style="width: 100%;" size="12" >
              <ion-col size-md="3" size-xs="12" size-lg="3">
       
                <ion-row size="12" style="font-family: 'Poppins', sans-serif;color:#5D6167">
                  <ion-col style="padding-left:10px;padding-right:50px;">
                    <ion-row size="12" class="ion-align-self-center" style="margin-top:10px;font-size:16px;">
                      <ion-col size="12">
                        <ion-row style="margin-bottom:10px">
                          <div class="block block-collapsible-nav account-nav">
                            <div class="block-title block-collapsible-nav account-nav-title">
                              <h3>My Account</h3>
                            </div>
                            <div class="content block-collapsible-nav account-nav-content" id="block-collapsible-nav account-nav">
                              <ul  style="padding-inline-start: 15px;" >
                                <div  *ngFor="let menu of obsMenu;  let s=index">
                                  <li class="nav item"><a href="{{menu.url}}"  [ngStyle]="{'font-weight':menu.bold ? 'bold' : 'normal' }" >{{menu.title}}</a></li>
                                </div>
                              </ul>
                            </div>
                          </div>
                        </ion-row>
                      </ion-col>


                    </ion-row>
              
                

                  </ion-col>
                </ion-row>




              </ion-col>

              <ion-col size-md="9" size-xs="12" size-lg="9">
                <ion-row size="12">
                  <ion-col style="padding-left:10px;">
                    <ion-row size="12" class="ion-align-self-center ion-text-center"
                      style="border-bottom: 1px solid rgba(0,0,0,.1);background-color:#fbfbfb;height:47px;font-size:18px;color:#5D6167">

                      <ion-col class="ion-align-self-center ion-text-left" size-lg="4" size-md="4">
                        Print Delivery Breakdown
                      </ion-col>

                    </ion-row>

                  </ion-col>
                </ion-row>
                <ion-row size="12" style="font-family: 'Poppins', sans-serif;color:#5D6167">
                  <ion-col style="padding-left:10px;padding-right:50px;">
                    <ion-row size="12" class="ion-align-self-center" style="margin-top:10px;font-size:16px;">
                      <ion-col size="12">
                        <ion-row>
                          <ion-col class="stackfont ion-text-left stacklabel" size-lg="6" size-xs="12">
                            <ion-label>Date</ion-label>
                            <ion-col class="stackfont" size="12" size-lg="12">
                              <ion-item lines="none">
                                <ion-input #useremail="ngModel"  [owlDateTimeTrigger]="dt"
                                  name="Delivery_Date" [(ngModel)]="Delivery_Date" placeholder="Enter Your Date">
                                </ion-input>
                              </ion-item>
                              <!-- <owl-date-time-inline  ></owl-date-time-inline> -->
                              <input  name="inputDate" [owlDateTime]="dt"  style="width:0px !important ;height:0px !important;
                              margin:0px!important;padding:0px !important;border:0px">
                              <owl-date-time #dt [pickerType]="'calendar'" (afterPickerClosed)="onChangeDate(dt)">
                              </owl-date-time>
                        
                            </ion-col>
                          </ion-col>
                        </ion-row>
                        <ion-row style="margin-bottom:10px">
                          <ion-row class="stackfont ion-text-left stacklabel" style="padding-left:5px">
                            <ion-label>Category</ion-label>
                          </ion-row>
                          <ion-row>
                            <ion-col style="padding-left:10px;padding-right:50px;">
                              <ion-row size="12" class="ion-align-self-center" style="margin-top:10px;font-size:16px;">
                                <ion-col size="12">
                                  <ion-row >
                                    <ion-col class="stackfont ion-text-left stacklabel" size="12">
                                      <ion-row>
                                        <ion-col class="stackfont" size="12">
                                          <!-- <ion-item> -->
                                          <div (click)="check_AKK()" style="display:inline;">
                                            <ion-checkbox style="--border-radius:100%" [checked]="checkAKK" #chkAKK>
                                            </ion-checkbox>
                                          </div>
                                          <ion-label style="margin-left:5px">Ang Ku Kueh</ion-label>
                                        </ion-col>
                                      </ion-row>
                                      <ion-row>
                                        <ion-col class="stackfont" size="12" style="margin-top:5px">
                                          <!-- <ion-item> -->
                                          <div (click)="check_MTO()" style="display:inline;">
          
                                            <ion-checkbox style="--border-radius:100%" [checked]="checkMTO" #chkMTO>
                                            </ion-checkbox>
                                          </div>
                                          <ion-label style="margin-left:5px">Made To Order</ion-label>
                                        </ion-col>
                                      </ion-row>
                                      <ion-row>
                                        <ion-col class="stackfont" size="12" style="margin-top:5px">
                                          <!-- <ion-item> -->
                                          <div (click)="check_BS()" style="display:inline;">
                                            <ion-checkbox style="--border-radius:100%" [checked]="checkBS" #chkBS>
                                            </ion-checkbox>
                                          </div>
                                          <ion-label style="margin-left:5px">Baby Shower</ion-label>
                                        </ion-col>
                                      </ion-row>
                                      <ion-row>
                                        <ion-col class="stackfont" size="12" style="margin-top:5px">
                                          <!-- <ion-item> -->
                                          <div (click)="check_SK()" style="display:inline;">
          
                                            <ion-checkbox style="--border-radius:100%" [checked]="checkSK" #chkSK>
                                            </ion-checkbox>
                                          </div>
                                          <ion-label style="margin-left:5px">Seasonal Kueh</ion-label>
                                        </ion-col>
                                      </ion-row>
                                    </ion-col>
                                  </ion-row>
                                </ion-col>
          
          
                              </ion-row>
          
                            </ion-col>
                          </ion-row> 
                         
                        </ion-row>

                        <ion-row style="margin-bottom:10px">
                          <ion-col class="stackfont ion-text-left stacklabel" size-lg="12">
                            <ion-button  style=" width:144px;height:29px;float: right;font-size:13px;margin-right:10px" color="vibrant" expand="block" (click)="download()">
                              Print
                            </ion-button>
                           
                          </ion-col>
         
                        </ion-row>
                      </ion-col>


                    </ion-row>
                  </ion-col>
                </ion-row>



                <ion-row size="12" style="font-family: 'Poppins', sans-serif;color:#5D6167">
                 
                </ion-row>



              </ion-col>

            </ion-row>
          </ion-col>





        </ion-row>


      </ion-grid>
    </perfect-scrollbar> 
    </form>
  <!-- </perfect-scrollbar> -->
</ion-content>