<ion-header>
  <ion-toolbar> 
    <ion-buttons slot="start" >
      <ion-button  (click)="tapBack()" shape="round" style="height:48px;width:48px">
        <fa-icon icon="arrow-circle-left" slot="end" style="font-size: 20px;"></fa-icon>
        <!-- <ion-icon slot="icon-only" name="add-circle"></ion-icon> -->
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    
    <!-- <ion-buttons slot="secondary">
      <ion-button (click)="onSubmit()">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>Terms and Conditions</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content #content [fullscreen]="true">
 

  <div style="margin-left:10px;margin-right:10px" class=WordSection1>

    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><b><span > General Terms
    of Use</span></b></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >Donation SG(“</span><span 
    style='font-size:10.0pt;font-family:"Arial",sans-serif;color:#111111'>DonationSG</span><span
    >”) offer to upload the free or donate item through </span><span 
    style='font-size:10.0pt;font-family:"Arial",sans-serif;color:#111111'>DonationSG</span><span
    >’s various platforms including but not limited to its website,
    browser extension and mobile application (the “</span><span 
    style='font-size:10.0pt;font-family:"Arial",sans-serif;color:#111111'>DonationSG</span><span
    > Platforms”). The use of the services (the “Services”) offered on
    the </span><span  style='font-size:10.0pt;font-family:"Arial",sans-serif;
    color:#111111'>DonationSG</span><span > Platforms and accounts
    maintained with </span><span  style='font-size:10.0pt;font-family:
    "Arial",sans-serif;color:#111111'>DonationSG</span><span > shall be
    subject to these terms and conditions (the “Agreement”). This Agreement
    constitutes a legally binding agreement between each individual who uses the
    Services or who maintains an account with </span><span 
    style='font-size:10.0pt;font-family:"Arial",sans-serif;color:#111111'>DonationSG</span><span
    >. By using any of the Services or maintaining an account with </span><span
     style='font-size:10.0pt;font-family:"Arial",sans-serif;color:#111111'>DonationSG</span><span
    >, you acknowledge that you have read and understood this Agreement
    and agree to be bound by all of its terms. </span><span 
    style='font-size:10.0pt;font-family:"Arial",sans-serif;color:#111111'>DonationSG </span><span
    >may modify this Agreement from time to time, with or without notice,
    and your continued use of any of the Services or continued maintenance of an
    account with </span><span  style='font-size:10.0pt;font-family:"Arial",sans-serif;
    color:#111111'>DonationSG </span><span >shall constitute and be deemed
    to be your acceptance of such modification and your consent to abide by any
    terms thereof.</span></p>
    <section id="contactus2">
   
    </section>
    <p style='margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
    text-indent:-.25in;background:white'><b><span >1.<span
    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
    >Service License</span></b></p>

    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >Subject to this Agreement, </span><span  style='font-size:
    10.0pt;font-family:"Arial",sans-serif;color:#111111'>DonationSG </span><span
    >hereby grants you a revocable, non-exclusive, non-transferable
    license (without the right to sublicense) to access and use the </span><span
     style='font-size:10.0pt;font-family:"Arial",sans-serif;color:#111111'>DonationSG
    </span><span >Platforms and the Services solely for your personal
    use. You agree that you obtain no rights other than the rights and licenses
    expressly granted under this Agreement. </span><span 
    style='font-size:10.0pt;font-family:"Arial",sans-serif;color:#111111'>DonationSG </span><span
    >reserves the right to change, upgrade or discontinue any or all of
    the Services or the </span><span  style='font-size:10.0pt;font-family:
    "Arial",sans-serif;color:#111111'>DonationSG </span><span >Platforms or
    any feature of the Services or the </span><span  style='font-size:
    10.0pt;font-family:"Arial",sans-serif;color:#111111'>DonationSG </span><span
    >Platforms, at any time, with or without notice. All rights not
    expressly granted under this Agreement are reserved by </span><span 
    style='font-size:10.0pt;font-family:"Arial",sans-serif;color:#111111'>DonationSG </span><span
    >and its licensors.</span></p>
    
  

    <p style='margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
    text-indent:-.25in;background:white'><b><span >2.<span
    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
    >Termination of Account</span></b></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >DonationSG reserves the right to
    suspend or terminate your account where it is necessary or reasonable to do so
    in order to comply or satisfy and law, regulation or court order.</span></p>
    
    <p style='margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
    text-indent:-.25in;background:white'><b><span >3.<span
    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
    >Personal Data Protection</span></b></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >Personal Data collected is subject to our Privacy Policy, which is
    hereby incorporated by reference, and copy of which is located related to DonationSG.
    </span></p>
    
    
    <p style='margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
    text-indent:-.25in;background:white'><b><span >4.<span
    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
    >Fraud</span></b></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >DonationSG may suspend or terminate your account if it has reason to
    believe are involved in any fraudulent or dishonest activities. </span></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >Any failure to comply with this Agreement, any fraud, dishonesty or
    abuse relating to the use of the services or your account, or any
    misrepresentation of any information furnished to DonationSG or its affiliates by
    you or anyone acting on your behalf may result in the termination of your account
    and forfeiture of your accrued rewards. </span></p>
    
    <p style='margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
    text-indent:-.25in;background:white'><b><span >5.<span
    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
    >Third Party Rights</span></b></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >A person who is not party to this Agreement has no rights to enforce
    any terms of this Agreement.</span></p>
    
    <p style='margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
    text-indent:-.25in;background:white'><b><span >6.<span
    style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></b><b><span
    >Communications</span></b></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >By becoming a DonationSG user, you agree to receive communications
    that are account and user related as well as periodic shopping related e-mails
    that highlight coupons or special deals available to DonationSG users. </span></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >We may communicate with you regarding your account by electronic
    communications or direct mail using information you provide during the
    registration process. </span></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >Your consent to receive electronic communications include any
    notices or other information that we may be required by law to provide you in
    writing or otherwise. </span></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >You agree to keep us appraised of your current e-mail address should
    the same change subsequent to the date you become a Member. </span></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >We may also send you push notifications if you install the mobile application.</span></p>
  
    
    <p style='margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
    text-indent:-.25in;background:white'><b><span >7.<span
    style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></b><b><span
    >Community Standards</span></b></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >By creating a DonationSG account, you are becoming a member of a
    community that depends on the goodwill and responsible behaviour of each of our
    users. </span></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >Users are required to refrain from transmission or communication of
    images or text constituting ethnic slurs, obscenities, sexually explicit
    material, inflammatory or derogatory comments, or anything else that may be
    construed as harassing or offensive, which is targeted at the Services, the DonationSG
    Platforms, our employees, contractors or agents, our merchant partners, or
    other users. This includes communications by means of social media or other
    internet posts which violate the above community standards or promote or
    encourage gaming or fraudulent behaviour. </span></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >Users who violate this provision, as determined by us in our
    absolute discretion, may have the accounts suspended or terminated without
    prior notice.</span></p>
    
    <p style='margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
    text-indent:-.25in;background:white'><b><span >8.<span
    style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></b><b><span
    >Indemnification</span></b></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >You agree to indemnify </span><span  style='font-size:
    10.0pt;font-family:"Arial",sans-serif;color:#111111'>DonationSG</span><span
    >, any merchant partners, as well as their respective officers,
    directors, employees, successors, agents, and affiliates, for any and all claims,
    damages, losses and causes of action (including attorneys’ fees and court costs)
    arising out of or relating to your breach of this Agreement or for any
    materials in any form whatsoever that are provided by you (or through your
    username and/or password). </span></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >You agree to cooperate as fully as reasonably required in our
    defense and/or settlement of any claim. We reserve the right, in our reasonable
    discretion, to assume exclusive control over the defense and settlement of any
    matter subject to indemnification by you.</span></p>
    
    <p style='margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
    text-indent:-.25in;background:white'><b><span >9.<span
    style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></b><b><span
    >Warranty Disclaimer</span></b></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >The Services, content, and the </span><span 
    style='font-size:10.0pt;font-family:"Arial",sans-serif;color:#111111'>DonationSG </span><span
    >Platforms are provided “as is” and without warranty of any kind,
    express or implied, including without limitation, warranties of title, merchantability,
    fitness for a particular purpose or non-infringement. </span></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >We make no warranty as to the quality, accuracy, currentness,
    completeness, reliability or validity of the Services, content or the </span><span
     style='font-size:10.0pt;font-family:"Arial",sans-serif;color:#111111'>DonationSG
    </span><span >Platforms, including without limitation, any product
    search results, product descriptions, product availability, pricing information
    advice, opinion, statement, recommendations, or other information displayed, uploaded
    or distributed in connection with the Services. </span></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >DonationSG does not warrant that the functionality of the DonationSG
    Platforms will be uninterrupted or error-free, that defects will be corrected,
    or that they will be free of viruses or other harmful content. </span></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >Further, DonationSG does not warrant, guarantee or make any
    representations regarding the quality of, or accuracy of advertisements for,
    any products or services offered or provided by its affiliate stores in
    conjunction with the services.</span></p>
    
    <p style='margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
    text-indent:-.25in;background:white'><b><span >10.<span
    style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></b><b><span
    >Limitation of Liability</span></b></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >To the maximum extent permitted by applicable law, in no event shall
    DonationSG be liable for any special, incidental, consequential, exemplary,
    punitive or other indirect damages or for any loss profits, loss data or loss
    of use damages, even if it has been advised of the possibility of such damages.
    </span></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >To the maximum extent permitted by applicable law, SGFreeMarket’s
    maximum aggregate liability arising out of this agreement will not exceed
    S$100.</span></p>
    
    <p style='margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
    text-indent:-.25in;background:white'><b><span >11.<span
    style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></b><b><span
    >Governing Law and Arbitration</span></b></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >This Agreement, including any amendments thereto that DonationSG may
    from time to time make at its discretion, are governed by and construed in
    accordance with the laws of the Republic of Singapore. </span></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >Any dispute arising out of or in connection with this contract,
    including any question regarding its existence, validity or termination, shall
    be referred to and finally resolved by arbitration administered by the
    Singapore International Arbitration Centre (“SIAC”) in accordance with the
    Arbitration Rules of the Singapore International Arbitration Centre (&quot;SIAC
    Rules&quot;) for the time being in force, which rules are deemed to be incorporated
    by reference in this clause. </span></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >The seat of the arbitration shall be Singapore.</span></p>
  
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >The Tribunal shall consist of one arbitrator. The language of the
    arbitration shall be English. You agree that all issues are for the arbitrator
    to decide. This includes all issues related to the scope, application,
    interpretation and enforceability of this Agreement and this arbitration
    provision. The arbitrator shall also decide whether any claim is subject to arbitration.</span></p>

    <p style='margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
    text-indent:-.25in;background:white'><b><span >12.<span
    style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></b><b><span
    >Assignment</span></b></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >You may not assign your rights and obligations under this Agreement,
    in whole or in part, without prior written consent, and any such assignment
    without such consent will be null and void.</span></p>
    
    <p style='margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
    text-indent:-.25in;background:white'><b><span >13.<span
    style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></b><b><span
    >Headings</span></b></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >Headings under this Agreement are intended only for convenience and
    shall not affect the interpretation of this Agreement.</span></p>
    
    <p style='margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
    text-indent:-.25in;background:white'><b><span >14.<span
    style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></b><b><span
    >Waivers / Severability</span></b></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >Any failure to enforce any provision of this Agreement on the part
    of DonationSG will not be deemed a waiver of that provision. </span></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >Any waiver of any provision of this Agreement by DonationSG on one occasion
    will not be deemed a waiver of any other provision or of such provision on any
    other occasion. </span></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >If any provision of this Agreement is held to be invalid, such
    invalidity shall not affect the remaining provisions.</span></p>
    
    <p style='margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
    text-indent:-.25in;background:white'><b><span >15.<span
    style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></b><b><span
    >Entire Agreement</span></b></p>
    
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >This Agreement (together with the additional terms and conditions
    referred hereto or generally) represents the entire agreement of the parties
    with respect to the subject matter hereof, and supersedes all prior or
    contemporaneous agreements and representations, written or oral (including
    without limitation, earlier version of this Agreement that may have been
    accepted by you). </span></p>
    <section id="contactus">

    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >We reserve the right to modify this Agreement at any time. Your
    continued use of any of the DonationSG services or continued maintenance of an
    account with DonationSG shall constitute and be deemed to be your acceptance of
    such modification and your consent to abide by any terms thereof.</span></p>
  </section>
    <p style='text-align:justify;text-justify:inter-ideograph;background:white'><span
    >&nbsp;</span></p>
    
    <p style='margin-top:0in;margin-right:0in;margin-bottom:10.5pt;margin-left:
    0in;text-align:justify;text-justify:inter-ideograph;background:white'><span
    >Updated: 01.12.2019</span></p>
    
 </div>

</ion-content>
<ion-footer>
  <ion-label class="footer"> Powered by DonationSG v1.9</ion-label>
</ion-footer>

